{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
	<div class="row">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"> </li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"> </li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"> </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active"> <img class="d-block img-fluid w-100" src="https://static.pingendo.com/cover-moon.svg">
            <div class="carousel-caption">
              <h5 class="m-0">Carousel</h5>
              <p>with indicators</p>
            </div>
          </div>
          <div class="carousel-item "> <img class="d-block img-fluid w-100" src="https://static.pingendo.com/cover-bubble-dark.svg">
            <div class="carousel-caption">
              <h5 class="m-0">Carousel</h5>
              <p>with indicators</p>
            </div>
          </div>
          <div class="carousel-item"> <img class="d-block img-fluid w-100" src="https://static.pingendo.com/cover-bubble-light.svg">
            <div class="carousel-caption">
              <h5 class="m-0">Carousel</h5>
              <p>with indicators</p>
            </div>
          </div>
          <div class="carousel-item "> <img class="d-block img-fluid w-100" src="https://static.pingendo.com/cover-bubble-dark.svg">
            <div class="carousel-caption">
              <h5 class="m-0">Carousel</h5>
              <p>with indicators</p>
            </div>
          </div>
          <div class="carousel-item"> <img class="d-block img-fluid w-100" src="https://static.pingendo.com/cover-bubble-light.svg">
            <div class="carousel-caption">
              <h5 class="m-0">Carousel</h5>
              <p>with indicators</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel_holder">
  	<div class="row pt-5">
        <div class="col-md-12 vendor-title">
          <h2> Product List</h2>
        </div>
    </div>
  	{% if user.is_superuser %}
  		<a href="add-item/"><div class="btn btn-outline-primary btn-block"> Add </div></a>
  	{% endif %}
	
  	
  	  	{% if produks %}	  	
          <div class="row">
    	  		{% for produk in produks %}
      				<div class="col-md-2 pt-2">
      			  		<div class="card border-dark mb-3 text-center">
                      <img class="card-img-top" src="{{produk.urlimg}}" alt="Card image" height="120px">
                      <div class="card-body">
                      	<h5 class="card-title">{{produk.nama}} {{produk.vendor}}</h5>
                      </div>
                  </div>
              </div>
    	  		{% endfor %} 
          </div>      
          <div class="row">            
            <a href="display-items/" class="btn btn-outline-primary btn-block mt-2 offset-md-5 col-md-3">Lihat Semua Produk</a>
          </div>   

  	  	{% else %}
  	  		Belum Ada Produk Yang Tersedia
  	  	{% endif%}  	
  </div>

  <!-- Deskripsi Fitur -->
  <section>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-2">
        <h1>Big database of sellers</h1>
        <p class="text-left h4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>            
      </div>
      <div class="col-md-4"> 
        <!-- <img src="https://files.catbox.moe/jnfcgi.JPG"> -->
        <img src="{% static 'img/BigDB.JPG' %}">
      </div>
    </div>    
  </section>
  <section>
    <div class="row mt-5">
      <div class="col-md-4 offset-md-1 order-2 order-md-1"> 
        <img src="{% static 'img/Realtime.JPG' %}">        
        <!-- <img src="https://files.catbox.moe/hkucft.JPG"> -->
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <h1>Real-time tracking</h1>
        <p class="text-left h4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>            
      </div>
      
    </div>    
  </section>
  <section>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-2">
        <h1>Seller to end customer</h1>
        <p class="text-left h4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>            
      </div>
      <div class="col-md-4"> 
        <img src="{% static 'img/SellerToEnd.JPG' %}">
        <!-- <img src="https://files.catbox.moe/g6tcna.JPG"> -->
      </div>
    </div>    
  </section>
{% endblock %}