{% extends 'base.html' %}
{% block title %}
Produk
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card border-dark text-center">
                <img class="card-img-top" src="{{produk.urlimg}}" alt="Card image">
                <div class="card-body">
                	<h5 class="card-title">{{produk.nama}} {{produk.vendor}}</h5>
                	<p class="card-subtitle">{{produk.lokasi}}</p>
                	<p class="card-text">Rp {{produk.harga}}/ {{produk.satuan}}</p>                    
                    <p class="card-text">Stok : {{availability}}</p>
                	
                	{% if user.is_authenticated %}
                		<button class="card-link btn btn-primary">Add to cart</button>
                	{% endif %}
                </div>
            </div>
		</div>
	</div>
{% endblock %}