<footer>
    <div class="row pt-5">
        <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
            <p> <a href="https://www.google.com/maps/place/University+of+Indonesia/@-6.3627638,106.8248595,17z/data=!4m8!1m2!2m1!1suniversitas+indonesia!3m4!1s0x2e69ec1a804e8b85:0xd7bf80e1977cea07!8m2!3d-6.3627638!4d106.8270482" target="_blank"> Jl. Margonda Raya, Pondok Cina <br>Kecamatan Beji, Kota Depok, Jawa Barat 16424</a> </p>
            <p style="color: #69767F"> +62-82115917118 </p>
            <p class="mb-0"> <a href="mailto:nata.informatics@gmail.com">nata.informatics@gmail.com</a> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center my-3">
            <a href="https://www.instagram.com/nataevent/" target="_blank">
            <i class="d-block fab fa-instagram text-muted fa-lg mx-2"></i>
            </a> <a href="https://web.facebook.com/Nataevent-2265607343504901/" target="_blank">
            <i class="d-block fab fa-facebook text-muted fa-lg mx-2"></i>
            </a> <a href="https://twitter.com/NATABright" target="_blank">
            <i class="d-block fab fa-twitter text-muted fa-lg ml-2"></i>
            </a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="mb-0">© 2019 nataevent. All rights reserved</p>
        </div>
    </div>
</footer>